<!DOCTYPE html>
<html>
<head>
  <title>Idea Tank</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  {% from 'field-macro.html' import displayField %}
</head>
<body>
  <h1>Create Session</h1>
  <!-- Create form -->
  <form action="{{url_for('create')}}" method="POST">
    {{ form.csrf_token }}
    {{ displayField(form.topic, 'Brainstorming Topic') }}
    {{ displayField(form.time_limit) }}
    {{ displayField(form.create_button) }}
  </form>
</body>
</html>
