<!DOCTYPE html>
<html>
{% from 'field-macro.html' import displayField %}
<head>
  <title>Idea Tank</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
  <h1>Idea Tank</h1>
  <!-- Join Form -->
  <form action="{{ url_for('home') }}" method="POST">
    {{ form.csrf_token }}
    {{ displayField(form.username, 'Username') }}
    {{ displayField(form.join_code, 'Join Code') }}
    {{ displayField(form.join_button) }}
  </form>
  <!-- Separate form for the create button -->
  <form action="{{url_for('home')}}" method="POST">
    <input type="submit" name="Create" value="Create">
  </form>
</body>
</html>
