<!DOCTYPE html>
<html>
{% from 'field-macro.html' import displayField %}
<head>
  <title>Idea Tank</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
  <h1 class="title">Idea Tank</h1>
  <!-- Join Form -->

    <form action="{{ url_for('home') }}" method="POST">
      {{ form.csrf_token }}
      <div class="centerflex">
        {{ displayField(form.join_code, 'Join Code') }}
      </div>
      <div class="centerflex">
        {{ displayField(form.username, 'Username') }}
      </div>
      <div class="centerflex">
        {{ displayField(form.join_button) }}
      </div>
    </form>
    <!-- Separate form for the create button -->

  <div class="centerflex">
    <form action="{{url_for('home')}}" method="POST">
      <input type="submit" name="Create" value="Start your own brainstorming session!">
    </form>
  </div>
</body>
</html>
